@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-playfair-500 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-playfair-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.font-playfair-900 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.card-hover:hover>h1{
  color: #ff8800;
  transition: color .5s ease-in-out;
}

.card-hover:hover>div{
  transform: scale(1.1);
  overflow: hidden;
  transition: transform .5s ease-in-out;
}